@charset "ISO-8859-1";




#mainContainer{width: 80%; margin: 0 auto;}



<!-- styling tabel -->

ul#genrelijst{
	
	padding-left: 0px;
	list-style: none;
}

ul#genrelijst li{
	
	display:inline;
	
	
}

th, td{
	
	padding: 1em;
	
}

form {padding-top: 0.5em;}


form > * {
	
	display: block;
	
}

button {
	
	margin: 0.2em 0;
}


.oneven{background-color:#ccc;}

.fout{color:#AB4747; font-weight:bold; font-size: 1.5em;}


/* .req is de foutboodsschap als inputveld niet ingevuld */

.req{
color:#AB4747; font-weight:bold;
visibility: hidden;
}

.success{
	
	color:#37782e; 
}

.mislukt{color:#AB4747; font-weight:bold;	
}






@keyframes overgang {
     0%   {color:#400000;}
 	
    20%  {color:#ff0000; }
    
      
    100% {color:#400000 }
}

/* The element to apply the animation to */
.extrafout {
    color:#400000;
    animation-name: overgang;
  
    animation-duration: 8s;
}
