@charset "ISO-8859-1";




#mainContainer{width: 80%; margin: 0 auto;}



<!-- styling tabel -->

ul#genrelijst{
	
	padding-left: 0px;
	list-style: none;
}

ul#genrelijst li{
	
	display:inline;
	
	
}

th, td{
	
	padding: 1em;
	
}





.oneven{background-color:#ccc;}


