@charset "ISO-8859-1";




#mainContainer{width: 80%; margin: 0 auto;}



<!-- styling tabel -->

ul#genrelijst{
	
	padding-left: 0px;
	list-style: none;
}

ul#genrelijst li{
	
	display:inline;
	
	
}

th, td{
	
	padding: 1em;
	
}

form {padding-top: 0.5em;}


form > * {
	
	display: block;
	
}

button {
	
	margin: 0.2em 0;
}


.oneven{background-color:#ccc;}

.fout{color:#AB4747; font-weight:bold;}


/* .req is de foutboodsschap als inputveld niet ingevuld */

.req{
color:#AB4747; font-weight:bold;
visibility: hidden;
}

#beschikbaarheid{
	
	color:#AB4747; font-weight:bold;
	
}

#isBeschikbaar{
	
	color:#408080; font-weight:bold;
	
}

#isNietBeschikbaar{
	
	color:#AB4747; font-weight:bold;
}